---
#BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
---
Language: Cpp
Standard: Latest
AlignConsecutiveAssignments: AcrossComments
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: True
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakConstructorInitializers: BeforeComma
CompactNamespaces: True
IncludeBlocks: Preserve
