---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
---
Language: Cpp
Standard: Latest

AlignConsecutiveAssignments: AcrossComments
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: True
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: True
# AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterComma
BraceWrapping:
  AfterEnum: true
  AfterCaseLabel: False
  AfterFunction: true
  AfterNamespace: False
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: False
  SplitEmptyRecord: False

CompactNamespaces: True
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: True
IncludeBlocks: Preserve
IndentAccessModifiers: False

# Penalties
PenaltyBreakString: 60
PenaltyExcessCharacter: 120
PenaltyReturnTypeOnItsOwnLine: 16

PointerAlignment: Left
